*{
    padding:0; margin:0;
}

img {
    border: 0;
}

body{
    font-family: "Verdana", Times, serif;
}

.main{
    width:950px; margin:0 auto;
}


header {
    padding:30px 0 0 0;
}

.main-content {
    overflow: hidden;
}

.main-content h1 {
    margin-bottom: 20px; font-size: 24px; font-weight: normal;
}

.main-content h2 {
    margin-bottom: 20px; font-size: 21px; font-weight: normal;
}

.main-content p {
    margin-bottom: 20px;
}

article {
    width:420px; padding:30px 30px 32000px 30px; float: left; background: #fff; margin-bottom: -32000px;
}

aside {
    float: right; background: #ffffff; width: 421px; padding:30px 10px 32000px 30px; margin-bottom: -32000px;
    }

p span{
   color: #346702;
}

/*RIGTH UP*/


.orang_nadp{
    color: #f17502;
}

aside .sit{
    font-size: 14px; font-weight: Bold;
}

aside .Ut{
    font-size: 12px; font-weight: normal;
}

.orang{
    border: 1px solid orangered;
    padding: 10px;
}

.f_chisl{
    font-size: 18px; font-weight: Bold;
    color: black;
    text-decoration: line-through;
}

.s_chisl{
    font-size: 18px; font-weight: Bold;
    color: red;
}

.t_chisl{
    font-size: 14px; font-weight: normal;
    color: red;
}

.firsstrok{
    margin-top: 20px;
}

.ch_chisl{
    font-size: 14px; font-weight: Bold;
    color: black;
}

.fiv_chisl{
    font-size: 14px; font-weight: Bold;
    color: red;
}

.six_chisl{
    font-size: 12px; font-weight: normal;
    color: green;
}


#6oz{
    font-size: 14px; font-weight: normal;
}

.fiol_Save{
    font-size: 14px; font-weight: Bold;
    color:purple;
}


.Details{
    font-size: 12px; font-weight: normal;
    color:green;
}

.title_custom{
    font-size: 16px; font-weight: Bold;
    padding-left: 10px;
}

.custom_1{
    margin-top: 20px;
    padding-left: 10px;
}

.custom_2{
    margin-top: 20px;
    padding-left: 10px;
}

.custom_3{
    margin-top: 20px;
    padding-left: 10px;
}



select{
    padding: 5px 60px 5px 5px;
}

.custom{
 float: left;
}

.radio_butt{
float: right;
margin-right: 50px;
margin-top: 20px;
}

.Picker{
    float: left;
}

.custom_4 {
    margin-top: 165px;
}

.custom_4 img {
    padding-right: 10px;
    padding-left: 10px;
}

input{
    padding: 1em 0em 0em;
    text-align: center;
}

.Total{
    font-size: 14px; font-weight: Bold;
    color:black;
}

.lb{
    font-size: 11px; font-weight: normal;
    color:black;
}

.est{
    font-size: 11px; font-weight: normal;
    color:gray;
}

.totals{
    padding-left: 50px;
}

.addcard button{
    padding: 10px 30px;
    margin-left: 130px;
    margin-top: 10px;
    background-color: orange;
    color: white;
    font-size: 16px; font-weight: Bold;
    border-radius: 5px;
}

.Customization{
    border: 1px solid #dddddd;
    padding: 10px 0px 0px 0px;
}


.addcard{
    border-top: 2px dotted #dddddd;
    background-color: #f2f2f2;
    height: 66px;
}

/*END RIGTH UP*/

/*LEFT UP*/

.pics{
    padding: 10px 0px 10px 160px;
}

.main_pic{
 padding-left: 100px;
}

hr{
    color: lavender;
}

.savelist{
    font-size: 14px; font-weight: Bold;
    color:purple;
}

.GreenATR{
    font-size: 16px; font-weight: Bold;
    color:green;
}

.BlackGFD{
    font-size: 16px; font-weight: Bold;
    color:black;
}

.BlackTCOS{
    font-size: 14px; font-weight: normal;
    color:black;
}

.Greenmore{
    font-size: 14px; font-weight: normal;
    color:green;
}

.snowfrozen{
    font-size: 14px; font-weight: normal;
}

.snowfrozen img{
    padding-right: 5px;
}

.hvr-bubble-left{
    margin: 12px 0px 6px 9px;
    padding: 3px 4px 2px 4px;
    cursor: pointer;
    background: #ffffff;
    text-decoration: none;
    color: #666;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    border: 1px solid #000000;
}

.hvr-bubble-left {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
}
.hvr-bubble-left:before {
    pointer-events: none;
    position: absolute;
    z-index: -1;
    content: '';
    border-style: solid;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    top: calc(50% - 5px);
    left: -10px;
    border-width: 5px 10px 5px 0;
    border-color: transparent #000000 transparent transparent;
}

.facebook{
    background-image: url(img/facebook.png);
    width: 47px;
    height: 21px;
}

.tweet{
    background-image: url(img/tweet.png);
    width: 53px;
    height: 19px;
}

.google{
    background-image: url(img/google.png);
    width: 34px;
    height: 19px;
}

.pinit{
    background-image: url(img/pinit.png);
    width: 34px;
    height: 19px;
}

.Allergens{
    font-size: 16px; font-weight: Bold;
    color:green;
}